<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mirage demo</h1>
    {{!-- <p class="lead">Here is a list of Front-end developers and their Github statistic</p> --}}
  </div>
</div>
